@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700);

html, body {
	color: #546E7A;
	font-size: 10.5pt;
	font-family: 'Roboto Condensed', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* For typographic ligatures and kerning: */

	/* text-rendering: geometricPrecision; */
	text-rendering: optimizeLegibility; /* optional, for older browsers */

	/* For typographic ligatures */
	-webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
	font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */

	/* For font kerning: */
	-moz-font-feature-settings: "kern=1"; /* pre-Firefox 14+ */
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern"; /* Firefox 14+ */
	font-feature-settings: "kern"; /* standard */
	font-kerning: normal; /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/
}

@media print {
	html, body {
		/* Disable typographic ligatures to allow copy-pasting */
		-webkit-font-variant-ligatures: no-common-ligatures; /* for iOS and Safari 6 */
		font-variant-ligatures: no-common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */
	}
}

html, body, iframe, ul, ol { margin: 0; padding: 0; }
iframe { border: none; display: block; }

a { color: #0097A7; text-decoration: none; }
a:hover { text-decoration: underline; }

p { margin: 1em 0; }
ul, ol { padding-left: 1.5em; }

p.caption {
	margin-bottom: 0.5em;
}

.note {
	color: rgba(84, 110, 122, 0.75);
}

.note:not(small) {
	font-size: 0.9em;
}

iframe, .paper {
	width: 8.5in;
	height: 11in;
}

.paper {
	background-color: #FFF;
	overflow: hidden;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: column; /* Safari 6.1+ */
	flex-direction: column; 
}

.pdf-download {
	display: none;
	width: 8.5in;
	margin: 0 auto 25px;
	text-align: right;
}

.pdf-download .pdf-button {
	background-color: #00BCD4;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	box-shadow: 0 2px 5px -3px #212121;
	padding: 0.4em 0.2in;
	margin: 0 25px;
	-webkit-transition: background-color .4s; /* Safari 3.1 to 6.0 */
	transition: background-color .4s;
}

.pdf-download .pdf-button:hover {
	background-color: #4DD0E1;
}

@media print {
	.paper {
		page-break-after: always;
		-webkit-print-color-adjust: exact;
	}
	@page { margin: 0; size: letter; }
}

@media screen {
	.paper {
		margin: 20px auto;
		box-shadow: 0 3px 10px -3px #212121;
	}
	.pdf-download { display: block; }
	body {
		background: #37474F;
		padding: 0 20px;
		min-width: 8.5in;
	}
}

.header {
	padding: 0.75in 0.75in 0.275in 0.75in;
	background-color: #455A64;
	color: rgba(255, 255, 255, 0.7);
}

.header a {
	color: inherit;
}

.header p {
	margin: 0;
}

.header>.name {
	color: #FFF;
	text-transform: uppercase;
	font-size: 2.75em;
}

.header>.sidebar {
	float:right;
	margin-left: 0.25in;
	padding-left: 0.15in;
	padding-top: 0.02in;
	padding-bottom: 0.02in;
	border-left: 0.03in solid #FFF;
}

.header>.sidebar>[data-label] {
	padding: 0.25em 0;
}

.header>.sidebar>[data-label]::before,
.header>[data-label]::before {
	content: attr(data-label);
	color: #FFF;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
}

.header>[data-label] {
	text-align: justify;
	margin-top: 0.65em;
}

.header>[data-label]::before {
	margin: 0 0 0.15em;
}

.header [data-page-num]::after {
	content: attr(data-page-num);
}

/* Nick Gallagher's Micro Clearfix Hack */
.header::before, .header::after {
	content:' ';
	display:table;
}
.header::after { clear:both; }
/* with "display:flex" in parent, the hack isn't (probably) needed */

.main {
	background-color: #FFF;
	position: relative;
	-webkit-flex: 1; /* Safari 6.1+ */
	-ms-flex: 1; /* IE 10 */ 
	flex: 1;
}

.flex {
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-align-items: flex-start; /* Safari 7.0+ */
	align-items: flex-start;
}

.flex.stretch {
	-webkit-align-items: stretch; /* Safari 7.0+ */
	align-items: stretch;
}

.main.flex>.mainbar, .main.flex>.sidebar {
	padding-top: 0.25in;
	position: relative;
}

.main.flex>.mainbar {
	box-sizing: border-box;
	-webkit-flex: 1; /* Safari 6.1+ */
	-ms-flex: 1; /* IE 10 */ 
	flex: 1;
}

.main.flex>.sidebar {
	background: #0097A7;
	color: #FFF;
	width: 3.2in;
}

section.pts-line {
	margin: 0 0.15in 0.25in 0.35in;
	padding-bottom: 1px;
	border-left: 0.05in solid #0097A7;
	position: relative;
}

section.pts-line>span:first-child,
section.bottom-note>span:first-child,
.main.flex>.sidebar>section>span:first-child,
ul.skills>li>span:first-child {
	display: table;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.4em 0.2in;
}

section.pts-line>span:first-child .float-tag,
.main.flex>.sidebar>section>span:first-child .float-tag,
ul.skills>li>span:first-child .float-tag {
	font-size: 0.8em;
	text-transform: initial;
	float: right;
	margin: 0.1em 0 0 0.15in;
}

section.pts-line>span:first-child,
section.bottom-note>span:first-child,
.main.flex>.sidebar>section>span:first-child {
	font-size: 1.2em;
}

section.pts-line>span:first-child,
section.bottom-note>span:first-child {
	background: #0097A7;
	color: #FFF;
	padding-right: 0.25in;
	border-right: 0.05in solid #CFD8DC;
}

section.pts-line>.entry {
	margin: 1.3em 0.2in 1.3em;
}

section.pts-line>.entry .point::before {
	content: '';
	display: block;
	position: absolute;
	-ms-transform: translateY(-0.1in); /* IE 9 */
	-moz-transform: translateY(-0.1in);
	-webkit-transform: translateY(-0.1in); /* Chrome, Safari, Opera */
	transform: translateY(-0.1in);
	left: 0;
	width: 0;
	height: 0;
	margin-top: 0.65em;
	border-left: 0.1in solid #0097A7;
	border-top: 0.1in solid transparent;
	border-bottom: 0.1in solid transparent;
}

section.pts-line>.entry .title {
	font-size: 1.2em;
	font-weight: 300;
	white-space: nowrap;
}

section.pts-line>.entry .subtitle {
	font-weight: bold;
	color: rgba(84, 110, 122, 0.75); /* #546E7A */
}

section.pts-line>.entry .details ul {
	
}

section.pts-line>.entry .colored {
	color: #0097A7;
}

.main.flex>.sidebar>section>span:first-child,
ul.skills>li>span:first-child {
	border-left: 0.05in solid;
	border-right: 0.1in solid #607D8B;
}

.main.flex>.sidebar>section>span:first-child {
	background-color: #455A64;
	min-width: 1.3in;
	margin-bottom: 0.15in;
}

ul.skills>li>span:first-child {
	background-color: #546E7A;
	min-width: 1.8in;
}

ul.skills, ul.skills ul {
	display: block;
	padding: 0;
	font-weight: bold;
}

ul.skills {
	margin-right: 1em;
}

ul.skills li {
	display: block;
	margin-top: 0.08in;
}

ul.skills ul {
	padding: 0.3em 0 0.3em 0.3em;
}

ul.skills>li li {
	margin: 0.5em;
}

/* Should have used "line-height: 1.8" instead!
 * But on text-selection, the following looks much better.
 */
ul.skills>li li:not(.long)>span:first-child::before,
ul.skills>li li b::before {
	content: '\200B'; /* ZWSP */
	display: inline-block;
	padding: 0.3em 0;
}

ul.skills>li li>.subskills {
	display: inline-block;
}

ul.skills>li li b,
ul.skills>li li>span:first-child {
	background-color: #00BCD4;
	display: inline-block;
	padding: 0 0.8em;
}

ul.skills>li li b {
	background-color: #546E7A;
	padding: 0 0.5em;
}

ul.skills>li li.long>span:first-child {
	background-color: #00ACC1;
	padding: 0.3em 0.4em;
	border: 0 solid #00BCD4;
	border-width: 0 0.4em;
}

/* The following is a hack to prevent b-boxes from being laid above borders */
ul.skills>li li b~b {
	border-left: 0.4em solid #00BCD4;
}

ul.skills>li li b:last-of-type {
	border-right: 0.4em solid #00BCD4;
}

ul.skills>li li del {
	display: inline-block;
	width: 0;
	color: #0097A7;
	text-decoration: none;
}

@media screen {
	ul.skills>li li del {
		opacity: 0;
	}
}

section.bottom-note {
	background: #ECEFF1;
	position: relative;
	box-sizing: border-box;
}

section.bottom-note>span:first-child {
	background: #607D8B;
	position: relative;
	border-left: 0.1in solid #546E7A;
	border-right-width: 0.07in;
}

section.bottom-note::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-top: 0.07in solid #CFD8DC;
}

section.bottom-note::after {
	content: '';
	width: 3.1in;
	position: absolute;
	top: 0;
	right: 0;
	border-top: 0.07in solid #607D8B;
}

section.bottom-note a {
	color: #0097A7;
}

section.bottom-note .flex {
	position: relative;
	font-family: 'Cuprum', sans-serif;
}

section.bottom-note .entry {
	background: #CFD8DC;
	color: #607D8B;
	display: inline-block;
	margin: 0.15in 0.2in;
	padding: 0.05in 0;
	border-right: 0.07in solid #B0BEC5;
	/* font-weight: 300; */
	/* line-height: 1.2; /* Fixes unknown bug during print in Chrome */
}

section.bottom-note .entry.stretch {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

section.bottom-note .flex>.entry+.entry {
	margin-left: 0;
}

section.bottom-note .entry>div {
	padding: 0 0.1in;
}

section.bottom-note .entry .title {
	font-weight: bold;
	color: #546E7A;
}

section.bottom-note .entry>.title,
section.bottom-note .entry>.details>.title:first-child {
	border-left: 0.1in solid #ECEFF1;
	padding-left: 0.05in;
}

section.bottom-note .entry>.details>.title:first-child {
	margin-left: -0.1in;
}

.no-transform, ul.skills li.no-transform>span {
	text-transform: none;
}
